@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Danh mục sản phẩm</h2>
                <div class="list-group list-flush ">
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiết bị điện tử
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiết bị điện tử
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiết bị điện tử
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Các thương hiệu nổi tiếng</h2>
                <div class="list-group list-flush ">
                    <a href="#" class="list-group-item list-group-item-action">
                        A
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        S
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        C
                    </a>
                </div>
            </div>
        </div>  
    </div>
</body>

</html>